<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login</title>
    <!-- Required meta tags -->
    <%- include("partials/user_head.ejs") %>


  </head>

  <body>
    <header>
      <!-- place navbar here -->
      <%- include("partials/user_navbar1.ejs") %> 
      <%- include("partials/user_navbar2.ejs") %>
    </header>

   <main>
    
   </main>

    <!-- place footer here -->
    <%- include("partials/admin_footer.ejs") %>
  </body>
  <%- include("partials/user_foot.ejs") %>
</html>
