

  <!DOCTYPE html>
  <html lang="en">
  <head>
  <%- include("partials/user_head.ejs")  %>
            
    <title>home</title>
  </head>
  <body>
    <header>

      <%- include("partials/user_search_navbar.ejs")  %>
    
      
    </header>

    <main>
      <div class="headerImage">
        <h1 class="white-text text-lighten-5">demo shop</h1>
        </div>
        <%- include("partials/user_navbar2.ejs")  %>

        <ul class="pagination center-align">
          <% if(page > 1 ){%>
          <li><a href="/?page=<%=page-1%>"><i class="material-icons">chevron_left</i></a></li>
          <%}%>
          <% for(let i = iterator; i <= endingLink; i++) {%>
              <% if(i === page) {%>
          <li class="active"><a href="/?page=<%= i %>""><%= i %></a></li>
      
          <% continue; %>
      <% }%>
          <li class="waves-effect"><a href="/?page=<%= i %>"><%= i %></a></li>
          <%}%>
          <% if(page < numOfPages ){%>
          <li class="waves-effect"><a href="/?page=<%=page+1%>"><i class="material-icons">chevron_right</i></a></li>
          <%}%>
        </ul>
    
    <!-- grid system -->
    <div class="container">
     

<h5 class="center-align blue-text">Featured Products</h5>
<%- include("partials/flash.ejs")  %>
      <div class="row">
        <% data.forEach(item=>{ %>
        <div class="col s12 m6 l4">
          <div class="card">
            <br />
            <div class="card-image waves-effect waves-block waves-light">
              <img
                class="activator card-img-top"
                src="../../public/uploads/<%= item.image  %>"
              />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                ><%= item.product_name %><i class="material-icons right"
                  >more_vert</i
                ></span
              >
              <!-- <p><a href="/cart/<%= item.id %>">Buy Now</a></p> -->


              <form action="/add-to-cart/<%= item.id  %>" method="post">
                <input type="hidden" name="product_name" value="<%= item.product_name %>">
                <input type="hidden" name="image" value="<%= item.image %>">
                <input type="hidden" name="id" value="<%= item.id %>">
                <input type="hidden" name="price" value="<%= item.price %>" >
                <div class="row">
                  <div class="col s4">
                    <input type="submit" value="Buy Now">
                  </div>
                  <div class="col s4">
                    <input type="number" name="quantity" id="quantity" placeholder="Qty" min="1" value="1" style="height: 1rem;">
                  </div>
                  <div class="col s4">
                    <input type="text" step="0.01"  id="price" placeholder="price" value="$<%= item.price %>" style="height: 1rem;" disabled>
                  </div>
                </div>
              </form>
             
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                ><%= item.product_name %><i class="material-icons right"
                  >close</i
                ></span
              >
              <p><%= item.description %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <div class="carousel">
      <a class="carousel-item responsive-img" href="#one!"><img src="../public/uploads/cabbage-green.webp"></a>
      <a class="carousel-item responsive-img" href="#two!"><img src="../public/uploads/Chicken-Stir-Fry.webp"></a>
      <a class="carousel-item responsive-img" href="#three!"><img src="../public/uploads/Frittata.avif"></a>
      <a class="carousel-item responsive-img" href="#four!"><img src="../public/uploads/potatoes.webp"></a>
      <a class="carousel-item responsive-img" href="#five!"><img src="../public/uploads/lettuce.webp"></a>
    </div>
  


  <ul class="pagination center-align">
    <% if(page > 1 ){%>
    <li><a href="/?page=<%=page-1%>"><i class="material-icons">chevron_left</i></a></li>
    <%}%>
    <% for(let i = iterator; i <= endingLink; i++) {%>
        <% if(i === page) {%>
    <li class="active"><a href="/?page=<%= i %>""><%= i %></a></li>

    <% continue; %>
<% }%>
    <li class="waves-effect"><a href="/?page=<%= i %>"><%= i %></a></li>
    <%}%>
    <% if(page < numOfPages ){%>
    <li class="waves-effect"><a href="/?page=<%=page+1%>"><i class="material-icons">chevron_right</i></a></li>
    <%}%>
  </ul>

    </main>

    <%-  include("partials/admin_footer")  %>
    
  </body>

<%-  include("partials/user_foot.ejs") %>
  </html>




  