<!doctype html>
<html lang="en">
    <head>
        <title>Products</title>
<%-  include("partials/user_head.ejs") %>
    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <%- include("partials/user_navbar1.ejs") %>
            <%- include("partials/user_navbar2.ejs") %>
          
        </header>
        <main>
            <h1 class="center-align">This page lists all the products</h1>
        </main>
       
            <!-- place footer here -->
            <%- include("partials/admin_footer.ejs") %>
       
    </body>
    <%-  include("partials/user_foot.ejs") %>

</html>
