<!DOCTYPE html>
<html lang="en">
  <head>
    <title>register</title>
    <%- include("../partials/admin_head.ejs") %>
  </head>

  <body>
    <header>
        <!-- place navbar here -->
        <%- include("../partials/admin_navbar1.ejs") %>
     
    </header>
   <main>
 
    <br>
      <div class="container">
        <div class="container">
          <form action="/updateuser/<%= record.id  %> " method="post">
            <label for="username">Name:</label>
            <input type="text" name="username" value="<%= record.name  %> " /><br /><br />

            <label for="surname">Surname:</label>
            <input type="text" name="surname" value="<%= record.surname  %> "/><br /><br />

            <label for="phone">Phone:</label>
            <input type="text" name="phone" value="<%= record.phone  %> "/><br /><br />

            <label for="email">Email:</label>
            <input type="text" name="email" value="<%= record.email  %> " /><br /><br />

          

            <input type="submit" value="Update" class="btn btn-primary"/>

          </form>
        </div>
      </div><br><br>
    </main>
    
        <!-- place footer here -->
    <%- include("../partials/admin_footer.ejs") %>
   
      

  </body>


</html>
